In [1]:
# https://www.statology.org/pandas-select-rows-based-on-column-values/
# https://www.statology.org/pandas-check-if-column-contains-string/

import re
import pandas as pd

df = pd.read_csv('Bay_county_FL_5.csv')

In [2]:
df.loc

In [3]:
df

,Status,Grantor,Grantee,Record Date,Doc Type,Book Type,Book,Page,Clerk File #,Legal,DocLinks
0,V,BOOTH BARBARA A\nBOOTH PAUL S,SECRETARY OF VETERANS AFFAIRS,5/22/23,MORTGAGE,OR,4691,153,2023031446,L 56 PARKWAY DEVELOPERS INC\n,NaN
1,V,PHL INVESTMENTS LLC,CADENCE BANK,5/22/23,MORTGAGE,OR,4690,168,2023031454,UNIT 301 VISTA DEL MAR I\n,NaN
2,V,PHL INVESTMENTS LLC,CADENCE BANK,5/22/23,MORTGAGE,OR,4691,168,2023031454,UNIT 301 VISTA DEL MAR I\n,NaN
3,V,PEREZ LUIS ALBERTO CUBAS\nPRADO DANIELA CARDENAS,MORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC\n...,5/22/23,MORTGAGE,OR,4691,184,2023031458,L 56 CEDARS CROSSING\n,NaN
4,V,CLARK JAMES A JR\nCLARK KELSIE M,REGIONS BANK\nREGIONS MORTGAGE,5/22/23,MORTGAGE,OR,4691,204,2023031461,L 119 BREAKFAST POINT EAST PH 1B\n,NaN
5,V,KRASINSKAS KRISTEN,FIGURE LENDING LLC,5/22/23,MORTGAGE,OR,4691,250,2023031479,L17 BLK 1 UNIT A JOHN G HENTZ JRS 1ST ADD\n,NaN

In [4]:
# df.loc[df['Book'] == 4690]
df.loc[df['Grantee'] == 'CADENCE BANK']

,Status,Grantor,Grantee,Record Date,Doc Type,Book Type,Book,Page,Clerk File #,Legal,DocLinks
1,V,PHL INVESTMENTS LLC,CADENCE BANK,5/22/23,MORTGAGE,OR,4690,168,2023031454,UNIT 301 VISTA DEL MAR I\n,NaN
2,V,PHL INVESTMENTS LLC,CADENCE BANK,5/22/23,MORTGAGE,OR,4691,168,2023031454,UNIT 301 VISTA DEL MAR I\n,NaN

In [5]:
# df.loc[df['Grantee'].str.contains('BANK').any() 
h = df['Grantee'].str.contains('BANK').any()

In [6]:
df['Grantee'].str.contains('BANK').sum()

3

In [7]:
# df = df[df['Grantee'].str.contains('BANK')]
# df

df = df[df['Grantee'].str.contains('BANK')==False]
df

,Status,Grantor,Grantee,Record Date,Doc Type,Book Type,Book,Page,Clerk File #,Legal,DocLinks
0,V,BOOTH BARBARA A\nBOOTH PAUL S,SECRETARY OF VETERANS AFFAIRS,5/22/23,MORTGAGE,OR,4691,153,2023031446,L 56 PARKWAY DEVELOPERS INC\n,NaN
3,V,PEREZ LUIS ALBERTO CUBAS\nPRADO DANIELA CARDENAS,MORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC\n...,5/22/23,MORTGAGE,OR,4691,184,2023031458,L 56 CEDARS CROSSING\n,NaN
5,V,KRASINSKAS KRISTEN,FIGURE LENDING LLC,5/22/23,MORTGAGE,OR,4691,250,2023031479,L17 BLK 1 UNIT A JOHN G HENTZ JRS 1ST ADD\n,NaN

In [8]:
ar = ['BANK', 'jay']
# df['good_or_east'] = df['team'].str.contains('|'.join(ar))


# df = df[df['Grantee'].str.contains('BANK')==False]
df = df[df['Grantee'].str.contains('BANK')==False]
df

,Status,Grantor,Grantee,Record Date,Doc Type,Book Type,Book,Page,Clerk File #,Legal,DocLinks
0,V,BOOTH BARBARA A\nBOOTH PAUL S,SECRETARY OF VETERANS AFFAIRS,5/22/23,MORTGAGE,OR,4691,153,2023031446,L 56 PARKWAY DEVELOPERS INC\n,NaN
3,V,PEREZ LUIS ALBERTO CUBAS\nPRADO DANIELA CARDENAS,MORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC\n...,5/22/23,MORTGAGE,OR,4691,184,2023031458,L 56 CEDARS CROSSING\n,NaN
5,V,KRASINSKAS KRISTEN,FIGURE LENDING LLC,5/22/23,MORTGAGE,OR,4691,250,2023031479,L17 BLK 1 UNIT A JOHN G HENTZ JRS 1ST ADD\n,NaN