In [21]:
# https://www.statology.org/pandas-select-rows-based-on-column-values/
import pandas as pd

#create DataFrame
# df = pd.DataFrame({'team': ['A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'],
#                    'points': [5, 7, 7, 9, 12, 9, 9, 4],
#                    'rebounds': [11, 8, 10, 6, 6, 5, 9, 12],
#                    'blocks': [4, 7, 7, 6, 5, 8, 9, 10]})

df = pd.read_csv('Bay_county_FL_5.csv')

In [22]:
df.loc

In [23]:
df

,Status,Grantor,Grantee,Record Date,Doc Type,Book Type,Book,Page,Clerk File #,Legal,DocLinks
0,V,BOOTH BARBARA A\nBOOTH PAUL S,SECRETARY OF VETERANS AFFAIRS,5/22/23,MORTGAGE,OR,4691,153,2023031446,L 56 PARKWAY DEVELOPERS INC\n,NaN
1,V,PHL INVESTMENTS LLC,CADENCE BANK,5/22/23,MORTGAGE,OR,4690,168,2023031454,UNIT 301 VISTA DEL MAR I\n,NaN
2,V,PHL INVESTMENTS LLC,CADENCE BANK,5/22/23,MORTGAGE,OR,4691,168,2023031454,UNIT 301 VISTA DEL MAR I\n,NaN
3,V,PEREZ LUIS ALBERTO CUBAS\nPRADO DANIELA CARDENAS,MORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC\n...,5/22/23,MORTGAGE,OR,4691,184,2023031458,L 56 CEDARS CROSSING\n,NaN
4,V,CLARK JAMES A JR\nCLARK KELSIE M,REGIONS BANK\nREGIONS MORTGAGE,5/22/23,MORTGAGE,OR,4691,204,2023031461,L 119 BREAKFAST POINT EAST PH 1B\n,NaN
5,V,KRASINSKAS KRISTEN,FIGURE LENDING LLC,5/22/23,MORTGAGE,OR,4691,250,2023031479,L17 BLK 1 UNIT A JOHN G HENTZ JRS 1ST ADD\n,NaN

In [25]:
df.loc[df['Book'] == 4690]

,Status,Grantor,Grantee,Record Date,Doc Type,Book Type,Book,Page,Clerk File #,Legal,DocLinks
1,V,PHL INVESTMENTS LLC,CADENCE BANK,5/22/23,MORTGAGE,OR,4690,168,2023031454,UNIT 301 VISTA DEL MAR I\n,NaN

KeyError: 'points'