In [7]:
# https://stackoverflow.com/questions/1801668/convert-a-list-with-strings-all-to-lowercase-or-uppercase

import pandas as pd
# import numpy as np

In [27]:
import pandas as pd

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 100)

# df = pd.read_csv('Bay_county_FL_c1.csv')

# df['Grantee'].value_counts()
# df.head(100)
# print(df.head(100))

df = pd.read_csv('Bay_county_FL_c2.csv')

# Find all the distinct values in the 'A' column
# df['A'].value_counts()

# Find all the distinct values in the 'B' column
# df['B'].value_counts()

# cbCount = df['Grantee'].value_counts()['CENTENNIAL BANK']

r= df['Grantee'].value_counts()
print(r)

Grantee
TYNDALL FEDERAL CREDIT UNION                                                   1198
MORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC\nROCKET MORTGAGE LLC               818
MORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC\nTRUSTMARK NATIONAL BANK           742
WYNDHAM VACATION RESORTS INC                                                    636
MORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC\nUNITED WHOLESALE MORTGAGE LLC     515
                                                                               ...
HOME LOAN CAPITAL\nMORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC                   1
FMLH 2ND AVE LLC                                                                  1
DICKERSON COURTNEY\nDICKERSON SCOTT                                               1
LANGFORD GARY P                                                                   1
BLUE DANIEL L\nBLUE KAYE L                                                        1
Name: count, Length: 2574, dtype: int64