In [10]:

import pandas as pd
import numpy as np

df = pd.read_csv('IrvingTX_lots5.csv')

df

,Status,Type,Price | Date,Address,Beds,Baths,Sqft,Lot Size Year Built $/sqft
0,NaN,LAND,4/3/19,"30 Zulaya Dr Irving, TX 75061",NaN,NaN,NaN,"8,566 sqft"
1,NaN,LAND,4/3/19,"29 Zulaya Dr Irving, TX 75061",NaN,NaN,NaN,"7,456 sqft"
2,NaN,LAND,4/3/19,"28 Zulaya Dr Irving, TX 75061",NaN,NaN,NaN,"7,451 sqft"
3,NaN,LAND,2/3/21,"25 Zulaya Dr Irving, TX 75061",NaN,NaN,NaN,"7,474 sqft"
4,NaN,LAND,1/5/21,"23 Zulaya Dr Irving, TX 75061",NaN,NaN,NaN,"6,284 sqft"
5,NaN,LAND,3/5/14,"8 Yogi Way Irving, TX 75038",NaN,NaN,NaN,"5,981 sqft"

In [12]:
import pandas as pd
import requests

# Read the excel file
df = pd.read_csv('IrvingTX_lots5.csv')


# Make an ajax call
url = 'https://example.com/api/v1/users'
data = {'Address': df['Address'].values}

data

"""
# Send the ajax call
response = requests.post(url, data=data)

# Check the response status code
if response.status_code == 200:
    # The ajax call was successful
    print('The ajax call was successful')
else:
    # The ajax call failed
    print('The ajax call failed')
"""

{'Address': array(['30 Zulaya Dr Irving, TX 75061', '29 Zulaya Dr Irving, TX 75061',
        '28 Zulaya Dr Irving, TX 75061', '25 Zulaya Dr Irving, TX 75061',
        '23 Zulaya Dr Irving, TX 75061', '8 Yogi Way Irving, TX 75038'],
       dtype=object)}

In [29]:
import pandas as pd
import requests

# Read the excel file
df = pd.read_csv('IrvingTX_lots5.csv')


# Make an ajax call
url = 'https://example.com/api/v1/users'
data = {'Address': df['Address'].values}
# data

print("Data1 =", data)

# print("Data2 =", data.Address)

Data1 = {'Address': array(['30 Zulaya Dr Irving, TX 75061', '29 Zulaya Dr Irving, TX 75061',
       '28 Zulaya Dr Irving, TX 75061', '25 Zulaya Dr Irving, TX 75061',
       '23 Zulaya Dr Irving, TX 75061', '8 Yogi Way Irving, TX 75038'],
      dtype=object)}

In [37]:
import csv

with open('IrvingTX_lots5.csv', 'r') as f:
  reader = csv.reader(f)
  for row in reader:
#     print(row)        
    print(row[3])

Address
30 Zulaya Dr Irving, TX 75061
29 Zulaya Dr Irving, TX 75061
28 Zulaya Dr Irving, TX 75061
25 Zulaya Dr Irving, TX 75061
23 Zulaya Dr Irving, TX 75061
8 Yogi Way Irving, TX 75038