In [14]:
import pandas as pd


AttributeError: 'float' object has no attribute 'lower'
https://stackoverflow.com/questions/34724246/attributeerror-float-object-has-no-attribute-lower
    
    
    
    
TypeError: sequence item 32: expected str instance, float found
This happens becuase it reads null from the excel file.  so easy to fix.  simply delete the cells below the last value in the excel. 
More: 
https://stackoverflow.com/questions/55998672/how-to-fix-this-typeerror-sequence-item-0-expected-str-instance-float-found