In [6]:
# https://www.statology.org/pandas-filter-multiple-conditions/
import pandas as pd

#create DataFrame
df = pd.DataFrame({'team': ['A', 'A', 'A', 'B', 'B', 'C'],
                   'conference': ['East', 'East', 'South', 'West', 'West', 'East'],
                   'points': [11, 8, 10, 6, 6, 5]})

#view DataFrame
df

  team conference  points
0    A       East      11
1    A       East       8
2    A      South      10
3    B       West       6
4    B       West       6
5    C       East       5

In [7]:
#check if exact string 'Eas' exists in conference column
(df['conference'].eq('Eas')).any()

False

In [8]:
df['conference'].str.contains('Eas').any()

True

In [9]:
df['conference'].str.contains('East').sum()

3