In [1]:
# https://sparkbyexamples.com/pandas/how-to-count-duplicates-in-pandas-dataframe/

# Get The Count Duplicates in DataFrame 
import pandas as pd
import numpy as np



technologies= ({
    'Courses':["Spark","PySpark","Hadoop","Pandas","Spark","Pandas","Hadoop"],
    'Fee' :[22000,25000,22000,24000,22000,24000,25000],
    'Duration':['30days',np.nan,'50days','40days','30days', None,np.nan],
    'Discount':[1000,2300,1000,2300,2500,1500,2000]
              })
df = pd.DataFrame(technologies)
print(df)

print("===============")

df2 = df.pivot_table(index = ['Courses'], aggfunc ='size')
print(df2)


# df2 = df.pivot_table(index = ['Courses', 'Fee'], aggfunc ='size')
# print(df2)

ModuleNotFoundError: No module named 'pandas'