In [4]:
# https://stackoverflow.com/questions/1801668/convert-a-list-with-strings-all-to-lowercase-or-uppercase

import pandas as pd
import numpy as np

In [14]:
# Fnd the count for CENTENNIAL BANK


# Read the CSV file
df = pd.read_csv('Bay_county_FL.csv')

# Find the count of the specific name
cbCount = df['Grantee'].value_counts()['CENTENNIAL BANK']

# Print the count
print("cbCount =", cbCount)  # Result = 133  But it has 573


wfbcount = df['Grantee'].value_counts()['WELLS FARGO BANK']

# Print the count
print("wfb =", wfbcount)  # Result = 300  But it has 402


wfcount = df['Grantee'].value_counts()['WELLS FARGO']

# Print the count
print("wf =", wfcount)




count_row = df.shape[0]  # Gives number of rows
count_col = df.shape[1]  # Gives number of columns

print("count_row =", wfcount)
print("count_col =", wfcount)
df




DocLinkscount = df['DocLinks'].value_counts()[1]
print("DocLinkscount =", DocLinkscount))

cbCount = 133
wfb = 300
wf = 2
count_row = 2
count_col = 2

,Status,Grantor,Grantee,Record Date,Doc Type,Book Type,Book,Page,Clerk File #,Legal,DocLinks
0,V,BOOTH BARBARA A\nBOOTH PAUL S,SECRETARY OF VETERANS AFFAIRS,05/22/2023,MORTGAGE,OR,4691.0,153.0,2.023031e+09,L 56 PARKWAY DEVELOPERS INC\n,NaN
1,V,PHL INVESTMENTS LLC,CADENCE BANK,05/22/2023,MORTGAGE,OR,4691.0,168.0,2.023031e+09,UNIT 301 VISTA DEL MAR I\n,NaN
2,V,PEREZ LUIS ALBERTO CUBAS\nPRADO DANIELA CARDENAS,MORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC\n...,05/22/2023,MORTGAGE,OR,4691.0,184.0,2.023031e+09,L 56 CEDARS CROSSING\n,NaN
3,V,CLARK JAMES A JR\nCLARK KELSIE M,REGIONS BANK\nREGIONS MORTGAGE,05/22/2023,MORTGAGE,OR,4691.0,204.0,2.023031e+09,L 119 BREAKFAST POINT EAST PH 1B\n,NaN
4,V,KRASINSKAS KRISTEN,FIGURE LENDING LLC,05/22/2023,MORTGAGE,OR,4691.0,250.0,2.023031e+09,L17 BLK 1 UNIT A JOHN G HENTZ JRS 1ST ADD\n,NaN
...,...,...,...,...,...,...,...,...,...,...,...
25143,V,ARCHIE ANGELA\nGRIESE DAYJUANA L,MORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC\n...,02/12/2021,MORTGAGE,OR,4363.0,511.0,2.021010e+09,PT LOT 8 BLK 20 HILAND CITY\n,NaN
25144,V,TOWNBRO LLC,SERVISFIRST BANK,02/12/2021,MORTGAGE,OR,4363.0,535.0,2.021010e+09,PCLS SEC 24-3-14\n,NaN
25145,V,TEMPLES CHARLES A\nTEMPLES LAURA C,CAPITAL CITY HOME LOANS LLC\nMORTGAGE ELECTRON...,02/12/2021,MORTGAGE,OR,4363.0,574.0,2.021010e+09,LOT 11 I S MORRIS PROPERTY UNREC\n,NaN
25146,V,PULLEM ROBERT,GMFS LLC\nMORTGAGE ELECTRONIC REGISTRATION SYS...,02/12/2021,MORTGAGE,OR,4363.0,589.0,2.021010e+09,L336 INLET BEACH HEIGHTS\n,NaN
25147,V,KELLEY JENNY,MORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC\n...,02/12/2021,MORTGAGE,OR,4363.0,610.0,2.021010e+09,LOT 33 PINEBROOK\n,NaN

In [ ]:
# Fimd all the similar names like Bank of ameirca ,  Bank of ameirca of Texas. 

# from itables import show

# show(df , paging=True)


# df = pd.read_csv('Bay_county_FL_5.csv')
# df = pd.read_csv('Bay_county_FL.csv')

# dff= pd.DataFrame(df)
# # print(df)


# df2 = df.pivot_table(index = ['Grantee'], aggfunc ='size')
# print(df2)


# Find the count of the specific name
# count = df['Grantee'].value_counts()['CENTENNIAL BANK']

# Print the count
# print(count)