In [3]:
# https://www.statology.org/pandas-select-rows-based-on-column-values/
import pandas as pd

#create DataFrame
df = pd.DataFrame({'team': ['A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'],
                   'points': [5, 7, 7, 9, 12, 9, 9, 4],
                   'rebounds': [11, 8, 10, 6, 6, 5, 9, 12],
                   'blocks': [4, 7, 7, 6, 5, 8, 9, 10]})

In [7]:
df.loc

In [4]:
df

  team  points  rebounds  blocks
0    A       5        11       4
1    A       7         8       7
2    B       7        10       7
3    B       9         6       6
4    B      12         6       5
5    C       9         5       8
6    C       9         9       9
7    C       4        12      10

In [5]:
df.loc[df['points'] == 7]

  team  points  rebounds  blocks
1    A       7         8       7
2    B       7        10       7

In [6]:
df.loc[df['points'].isin([7, 9, 12])]

  team  points  rebounds  blocks
1    A       7         8       7
2    B       7        10       7
3    B       9         6       6
4    B      12         6       5
5    C       9         5       8
6    C       9         9       9